<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}TestRail Reporting{% endblock %}</title>

    <link href="{{ url_for('static', filename='apple-touch-icon.png') }}" rel="apple-touch-icon">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<script src="{{ url_for('static', filename='build/bundle.js') }}"></script>

<div id="wrapper">
    {% block header %}{% endblock %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% block footer %}{% endblock %}
</div>
</body>
</html>
