@import "~bootstrap-less/bootstrap/bootstrap.less";
@import "~bootstrap-material-design/less/bootstrap-material-design.less";
@import "~bootstrap-material-design/less/ripples.less";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

a#signinButton {
  background: url(../img/signin_base.png) no-repeat 0 0;
  width: 246px;
  height: 54px;
  display: block;

  &:hover {
    background: url(../img/signin_hover.png) no-repeat 0 0;
  }

  &:active {
    background: url(../img/signin_press.png) no-repeat 0 0;
  }
}

.footer {
  background-color: #009688;
  color: rgba(255,255,255, 0.84);
  padding-top: 15px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
