server {
    listen 80;
    server_name testrail-reporting.dev.mirantis.net;

    client_max_body_size 1G;
    keepalive_timeout 5;

    error_log /var/log/testrail_reporting/nginx.error.log;
    access_log /var/log/testrail_reporting/nginx.access.log;

    location /static {
        alias /var/www/testrail-reporting/testrail_reporting/static;
    }

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/run/uwsgi/testrail_reporting/socket.sock;
        uwsgi_read_timeout 300;
        uwsgi_send_timeout 300;
    }
}
