server {
    listen 80;
    server_name example.com;
    root /path/to/my/app/example/static;

    client_max_body_size 4G;
    keepalive_timeout 5;

    access_log  /srv/testrail_reporting/logs/nginx-access.log;
    error_log   /srv/testrail_reporting/logs/nginx-error.log;

    location / {
        try_files $uri @uwsgi;
    }

    location @uwsgi {
            include uwsgi_params;
            uwsgi_pass 127.0.0.1:3031;
    }
}
