server {
    listen 5000;
    server_name _;
    root /home/user/testrail-reporting/testrail_reporting/static;

    client_max_body_size 1G;
    keepalive_timeout 5;

    access_log  /var/log/nginx/testrail-reporting-access.log;
    error_log   /var/log/nginx/testrail-reporting-error.log;

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/run/testrail_reporting/testrail_reporting.sock;
    }
}
