[uwsgi]
module = wsgi
callable = app

master = true
processes = 4
threads = 2

vhost = true
venv = /home/user/testrail-reporting/.venv
chdir = /home/user/testrail-reporting

uid = roman.salin
socket = /run/testrail_reporting/testrail_reporting.sock
chown-socket = roman.salin:nginx
chmod-socket = 660
vacuum = true

harakiri = 300
socket-timeout = 300
die-on-term = true

logto = /var/log/testrail_reporting/uwsgi.log
