[Unit]
Description=uWSGI instance to serve testrail-reporting
After=network.target

[Service]
User=user
Group=nginx
WorkingDirectory=/home/user/testrail-reporting
Environment="PATH=/home/user/testrail-reporting/env/bin"
ExecStart=/home/user/testrail-reporting/env/bin/uwsgi --ini testrail_reporting.ini

[Install]
WantedBy=multi-user.target
