[uwsgi]
module = wsgi
callable = app

master = true
processes = 4
threads = 2

vhost = true
venv = /var/www/testrail-reporting/.venv
chdir = /var/www/testrail-reporting

uid = testrail-reporting
socket = /run/uwsgi/testrail_reporting/socket.sock
chown-socket = testrail-reporting:nginx
chmod-socket = 660
vacuum = true

socket-timeout = 300
die-on-term = true

logto = /var/log/testrail_reporting/uwsgi.log
